<footer class="container-fluid bg-dark-color" id="footer">
  <div class="container">

      <div class="row">
          <!--FOOTER TOP-->

          <div class="col-12" id="footer-top">
              <div class="row justify-content-between secondary-color">

                <div class="col-6" id="footer-top-title"><h2>Formas de Contato</h2></div>

                <div class="col-6" id="snow-icon">
                  <a href="#">
                    <i class="bi bi-snow"></i>
                  </a>
                </div>

              </div>
          </div>

          <!-- FOOTER DETAILS-->

          <div class="col-12" id="footer-details">

              <div class="row">

                  <div class="col-12 col-md-4" id="email-container">

                    <a href="mailto:ra.calixta@gmail.com?subject='Oferta de emprego (portfólio)'" target="_blank" class="contact-item secondary-color">
                      <h4>
                        <i class="bi bi-envelope-fill" id="email-icon"></i>
                        E-mail
                      </h4>
                    </a>

                    <p class="secondary-color">
                      Envie um e-mail para
                       <a href="mailto:ra.calixta@gmail.com?subject='Assunto (portfólio)'" target="_blank" class="contact-item secondary-color">ra.calixta@gmail.com</a>,
                       que é a forma mais rápida de contato.
                    </p>

                  </div>

                  <div class="col-12 col-md-4" id="github-container">
                    <a href="https://github.com/racalixta" target="_blank" class="contact-item">
                      <h4>
                        <i class="bi bi-github"></i>
                        Github
                      </h4>
                    </a>
                    <p class="secondary-color">
                      <a href="https://github.com/racalixta" target="_blank" class="contact-item secondary-color">Perfil do github</a>,
                      onde contém os repositórios de todos os projetos que desenvolvi e também das aulas dos cursos que participei.
                    </p>
                  </div>

                  <div class="col-12 col-md-4" id="linkedin-container">
                    <a href="https://www.linkedin.com/in/rafael-calixta-047344234/" target="_blank" class="contact-item secondary-color">
                      <h4>
                        <i class="bi bi-linkedin"></i>
                        Linkedin
                      </h4>
                    </a>
                    <p class="secondary-color">
                      <a href="https://www.linkedin.com/in/rafael-calixta-047344234/" target="_blank" class="contact-item secondary-color">Perfil do Linkedin</a>,
                      onde você pode entrar em contato para conversar comigo.
                    </p>
                  </div>

              </div>

          </div>


          <!-- FOOTER BOTTOM-->
          <div class="col-12" id="footer-bottom">

              <div class="row justify-content-between">

                  <div class="col-12 col-md-3">
                      <p class="secondary-color">Rafael Calixta &copy; 2022</p>
                  </div>

                  <div class="col-12 col-md-3">
                      <p class="secondary-color">Espero o seu contato <i class="bi bi-bug"></i></p>
                  </div>

              </div>

          </div>

      </div>

  </div>
</footer>
