<div class="container" id="skills-container">

  <div class="col-12">

      <div class="row" id="skills-row">

          <div class="col-12 col-md-5" id="skills-banner">
            <!-- <img src="../../../assets/img/undraw_percentages_re_a1ao.svg" alt="Rafael Calixta" class="img-fluid"> -->
            <img src="https://i.imgur.com/WGqDUpT.png" alt="Rafael Calixta" class="img-fluid">
          </div>

          <div class="col-12 col-md-7 bg-secondary-color" id="skills-content">
              <div class="row">

                  <div class="col-12" id="skills-text">
                      <h2 class="title primary-color" id="skills-title">Habilidades</h2>
                      <p class="subtitle secondary-color" id="skills-subtitle">

                        Logo após entender qual função pretendo exercer dentro da área da tecnoliga, comecei a estudar com meu foco voltado para o front-end, sempre praticando para consolidar os conhecimentos, esse foi um dos grandes ensinamentos que tive com o Professor Gustavo Guanabara. <br>

                        No momento (30/07/22) finalizei meu primeiro bootcamp com <a href="https://www.linkedin.com/feed/update/urn:li:activity:6959995762424332288/" target="_blank" class="contact-item">certificado <i class="bi bi-patch-check-fill"></i></a>, <a href="https://www.dio.me/bootcamp/geracao-tech-unimed-bh-fullstack" target="_blank" class="contact-item">Geração Tech Unimed-BH | Fullstack <i class="bi bi-link"></i></a>, disponibilizado pela plataforma de ensino Digital Innovation One (DIO) juntamente com a Unimed-BH. O bootcamp ofertado tem como ideia formar novos desenvolvedores fullstack nas tecnologias Javascript, MySQL, Angular e .NET. O meu progresso nesse bootcamp está documentado no meu <a href="https://github.com/racalixta" target="_blank" class="contact-item">Github <i class="bi bi-github"></i></a>.<br>



                        Abaixo algumas das tecnologias que tenho conhecimento:
                      </p>
                      <div class="col-12 col-md-7" id="tech-icons">
                        <img src="https://img.icons8.com/color/480/000000/html-5--v1.png" alt="HTML5">

                        <img src="https://img.icons8.com/color/480/000000/css3.png" alt="CSS3">

                        <img src="https://img.icons8.com/color/480/000000/javascript.png" alt="JavaScript">

                        <img src="https://img.icons8.com/color/480/000000/angularjs.png" alt="Angular">

                        <img src="https://img.icons8.com/color/480/000000/bootstrap.png" alt="Bootstrap">

                        <!-- <img src="https://img.icons8.com/color/480/000000/cs.png" alt="C#"> -->
                        <!--
                          <img src="https://img.icons8.com/color/480/000000/react-native.png" alt="ReactJS">
                        -->

                        <img src="https://img.icons8.com/color/480/000000/git.png" alt="Git">

                        <img src="https://img.icons8.com/glyph-neue/256/000000/github.png" alt="GitHub">
                      </div>
                  </div>

              </div>
          </div>


      </div>

  </div>

</div>


