       <!-- CAROUSEL -->

       <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>


        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">

          <div class="carousel-item active" data-bs-interval="7000">

            <app-card [index]="projectIds" [page]="page"></app-card>

          </div>

          <div class="carousel-item" data-bs-interval="7000">

            <app-card [index]="projectIds2" [page]="page"></app-card>

          </div>

          <div class="carousel-item" data-bs-interval="7000">

            <app-card [index]="projectIds3" [page]="page"></app-card>

          </div>

        </div>

        <div class="row col-8 col-md-4 m-auto">
          <a routerLink="/projects" class="btn btn-dark" (click)="toTop()">Ver Mais Projetos</a>
        </div>

      </div>

      <!-- CAROUSEL  END -->
