#projects-carousel {
  margin-bottom: 4em;
}

#projects-content {
  display: flex;
  align-items: center;
  margin-top: 7em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 4em;
}

#projects-title {
  margin-bottom: 1.1em;
  font-weight: 700;
  position: relative;
}

#projects-title::before {
  width: 75px;
  border-top: 4px solid #111111;
  content: "";
  position: absolute;
  bottom: 2em;
}

#projects-text {
  line-height: 2em;
}

#projects-subtitle {
  font-size: 1.2em;
  text-align: justify;
}


#projects-button {
  font-size: 1.2em;
}

#projects-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects-banner img {
  height: 80%;
}

#card-container {
  display: flex;
  justify-content: space-between;
}

.carousel-inner {
  padding-bottom: 4em;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}

.carousel-indicators {
  margin-top: -2em;
  margin-bottom: 4em;
}

.carousel-item {
  padding: 0 3em;
}

@media(min-width: 768px) {
  #skills-content {
    padding: 3.5em;
  }

  #projects-carousel {
    padding: 0 2em;
  }
}


