<div class="row" *ngIf="page === 'projects' && projectsFilter.length === 0" id="card-container">

  <!--Projeto PROJECTS page-->

    <div class="col-12 col-md-6 col-lg-4 complete-card" *ngFor="let project of projects">

        <div class="card" >

          <img [src]="project.image[1]" class="card-img-top" [alt]="project.title">
          <div class="card-body">

            <h5 class="card-title">{{ project.title }}</h5>

            <p class="card-icon">
              <span class="card-tech-icon-project" *ngFor="let t of project.icons">
                <img [src]="t" [alt]="project.techs">
              </span>

            </p>



            <p class="card-text">
              {{ project.description }}
            </p>

            <div class="col-12">
              <div class="row btn-repository">
                <a [href]="project.linkRepository" target="_blank" class="btn btn-dark">Repositório no GitHub</a>
              </div>
              <div class="row btn-site">
                <a [href]="project.linkSite" target="_blank" class="btn btn-secondary">Abrir Site</a>
              </div>
            </div>
          </div>
        </div>



    </div>

</div>

<div class="row" *ngIf="page === 'projects' && projectsFilter.length > 0" id="projects-container">

  <!--Projeto PROJECTS FILTER page-->

    <div class="col-12 col-md-6 col-lg-4  complete-card" *ngFor="let project of projectsFilter">

        <div class="card" >

          <img [src]="project.image[1]" class="card-img-top" [alt]="project.title">
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>

            <p class="card-icon">
              <span class="card-tech-icon-project" *ngFor="let t of project.icons">
                <img [src]="t" [alt]="project.techs">
              </span>

            </p>

            <p class="card-text">
              {{ project.description }}
            </p>

            <div class="col-12">
              <div class="row btn-repository">
                <a [href]="project.linkRepository" target="_blank" class="btn btn-dark">Repositório no GitHub</a>
              </div>
              <div class="row btn-site">
                <a [href]="project.linkSite" target="_blank" class="btn btn-secondary">Abrir Site</a>
              </div>
            </div>
          </div>
        </div>

    </div>


</div>

<div class="row" *ngIf="page === 'home'" id="carousel-container">

  <!--Projeto HOME page-->
  <div class="col-12 col-md-4 complete-card" *ngFor="let project of projectsCarousel">

      <div class="card" id="carousel-card">

        <img [src]="project.image[1]" class="card-img-top" [alt]="project.title">
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>

          <p class="card-icon">
            <span class="card-tech-icon" *ngFor="let t of project.icons">
              <img [src]="t" [alt]="project.techs">
            </span>

          </p>
<!--
          <p class="card-text">
            {{ project.description }}
          </p> -->

          <div class="col-12">
            <div class="row btn-repository">
              <a [href]="project.linkRepository" target="_blank" class="btn btn-dark">Repositório no GitHub</a>
            </div>
            <div class="row btn-site">
              <a [href]="project.linkSite" target="_blank" class="btn btn-secondary">Abrir Site</a>
            </div>
          </div>
        </div>
      </div>

  </div>

</div>
