<div class="container" id="projects-container">

  <div class="col-12">

      <div class="row">

          <div class="col-12 bg-secondary-color" id="projects-content">
              <div class="row">

                  <div class="col-12 col-md-10" id="projects-text">
                      <h2 class="title primary-color" id="projects-title">Projetos</h2>
                      <p class="subtitle secondary-color" id="projects-subtitle">
                        Desde que meu foco se tornou ser um desenvolvedor front-end, venho fazendo projetos voltados para praticar meus conhecimentos nessa área. Utilizo, principalmente, Frontend Mentor para isso, além de plataformas como GitHub e Youtube para encontrar desafios. A seguir estão os meus projetos principais projetos.
                      </p>
                  </div>

              </div>
            </div>

      </div>

      <div class="col-12" id="card-container">
        <app-card></app-card>

      </div>


  </div>

</div>


