<div class="container" id="about-container">

  <div class="col-12">

      <div class="row">

          <div class="col-12 col-md-7 bg-secondary-color" id="about-me-content">
              <div class="row">

                  <div class="col-12" id="about-me-text">
                      <h2 class="title primary-color" id="about-me-title">Sobre</h2>
                      <p class="subtitle secondary-color" id="about-me-subtitle">
                        Meu nome é Rafael Calixta, tenho 23 anos e sou formado em Análise e Desenvolvimento de Sistemas, pela Universidade Paulista (Unip). <br>

                        Comecei a cursar a faculdade no primeiro semestre de 2020, na epóca, por estar morando em uma cidade do interior, Tabatinga-AM, a melhor opção de estudo era o modo de ensino à distância. Porém, por ser um cidade isolada e pequena as condições de internet eram
                        precárias, o que foi um grande desafio e um ensino sobre perseverança á minha pessoa, com esses conhecimentos adquiridos, ao final de 2021, me formei. <br>

                        Atualmente busco à minha primeira oportunidade na área, pensando primeiramento em ser um desenvolvedor front-end, pois por meio dos meus estudos entendo que tenho afinidade com a área. No entanto, mantenho os estudos também voltados para a área de desenvolvedor back-end, pois entendo que um bom desenvolvedor front-end deve ter um certo entendimento do back-end.
                      </p>
                  </div>

              </div>
          </div>

          <div class="col-12 col-md-5" id="about-me-banner">
            <img src="https://i.imgur.com/RtR9urD.jpg" alt="Rafael Calixta" class="img-fluid">
        </div>

      </div>

  </div>

</div>

